/* ---------------- STANDARD CONTENT PAGE STYLING ---------------- */

html,
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #373E23;
  cursor: url('/images/cursor.png'), auto;
  font-family: "forma-djr-deck", sans-serif;
  font-weight: 500;
  color: #ffcae9;
  overflow-y: hidden;
}

/* ---------------- TITLE STYLING ---------------- */

.title-container {
  padding: 2vw;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  justify-content: space-between;
  font-family: "forma-djr-deck", sans-serif;
  color: #ffcae9;
  position: relative;
}

.title {
  font-size: 8vw;
  font-weight: 800;
  line-height: 1;
}

.back-arrow {
  align-self: flex-end;
  color: #ffcae9;
  font-size: 5vmin;
}

.back-text {
  margin-left: 5px;
  color: #ffcae9;
  font-size: 5vmin;
}

a {
  color: #ffcae9;
  cursor: url('/images/cursor-filled.png'), pointer;
}

/* ---------------- CONTENT STYLING ---------------- */

.text-container {
  text-align: center;
  font-size: 6vmin;
  display: flex;
  flex: 1;
  /* This makes it take up the remaining space */
  flex-direction: column;
  justify-content: center;
  /* Centers content vertically within the remaining space */
}

/* MEDIA QUERIES */

@media (max-width: 640px) {
  .text-container {
    font-size: 7.5vmin;
  }
}

/* ---------------- SCROLL BAR ---------------- */

::-webkit-scrollbar {
  width: 4px;
  /* Width of the entire scrollbar */
  height: 4px;
  /* Height of the entire scrollbar (for horizontal scrollbar) */
}

::-webkit-scrollbar-track {
  background: #373E23;
  border-radius: 15px;
  /* Rounded corners of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #ffcae9;
  border-radius: 15px;
  /* Rounded corners of the scrollbar thumb */
}