ul { 
    list-style-type: none;
    margin: 0;
    padding: 10px;
    display: inline-block;
    position: absolute;
    right: 0px;
}

li { 
    float: right;
    margin-right: 20px;
}

li a { 
    display: block;
    color: #3F612D;
    padding: 14px 16px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

li a:hover { 
    color: black;
}

h1 { 
    margin: 0;
    display: inline-block;
    width: 50%;
    padding: 10px;
    padding-top: 5px;
    font-size: 40px;
}

.navBar { 
    position: fixed;
    z-index: 1;
    width: 100%;
    height: min-content;
    top: 0;
    background-color: white;
    color: #3F612D;
    font-family: 'Playfair Display', serif;}

.homeImage { 
    width: 100%; 
    color: white;
    position: relative;
    font-size: 100px;
    margin: 0px;
    font-family: 'Playfair Display', serif;}

#homeImage { 
    width: 100%; 
    height: auto;
    text-align: center;
}

.aboutText { 
    position: absolute;
    top: 45%;
    margin-left: 15%;
    left: 0;
    transform: translate(0%, -50%);
}

.meText { 
    position: absolute;
    top: 45%;
    margin-right: 22%;
    right: 0;
    transform: translate(0%, -50%);
}

body { 
    margin: 0;
    padding-top: 70px;
}

.aboutContent { 
    height: min-content;
}

.aboutContent:after { 
    content: "";
    display: table;
    clear: both;
}

.aboutContent .col { 
    float: left;
    width: 50%;
    background-color: white;
    color: black;
    text-align: center;
}

.aboutContent .col p{ 
    padding-right: 16%;
    padding-left: 16%;
    padding-top: 12%;
    padding-bottom: 12%;
    font-size: large;
    line-height: 40px;
    margin: 0;
    font-family: 'Montserrat', sans-serif, Light;
}

li a.instagramIcon { 
    padding: 0px;
    padding-top: 2px;
}

#instagramIcon { 
    width: 45px;
    height: 45px;
}

.contactMe { 
    height: 300px;
    background-color: #3F612D;
    color: white;
    text-align: center;
    padding-top: 1%;
}

.contactMe p { 
    font-family: 'Playfair Display', serif;
    font-size: 40px;
}

.contactMe .email { 
    text-align: center;
    font-family: 'Montserrat', sans-serif, Light;
    font-size: large;
}

.contactMe ul { 
    text-align: center;
    float: none;
    position: relative;
    font-family: 'Montserrat', sans-serif, Light;
    font-size: large;
}

.contactMe a { 
    margin: 0;
    padding: 20px;  
    color: white;
}
