/* ---------------- STANDARD CONTENT PAGE STYLING ---------------- */

html,
body {
  margin: 0;
  height: 100%;
  background-color: #fa6509;
  cursor: url("/images/cursor.png"), auto;
}

.page-container {
  height: 100%;
  position: relative;
  font-family: "forma-djr-deck", sans-serif;
  color: #8c021b;
}

.text-container {
  position: relative;
  padding: 2vw;
}

/* ---------------- TITLE STYLING ---------------- */

.title-container {
  padding: 2vw;
  display: flex;
  justify-content: space-between;
  font-family: "forma-djr-deck", sans-serif;
  color: #8c021b;
  position: relative;
}

.title {
  font-size: 12vw;
  font-weight: 800;
  line-height: 1;
}

.back-arrow {
  align-self: flex-end;
  color: #8c021b;
  font-size: 5vmin;
}

.back-text {
  margin-left: 5px;
  color: #8c021b;
  font-size: 5vmin;
}

a {
  cursor: url("/images/cursor-filled.png"), pointer;
}

/* ---------------- GRID STYLING: ---------------- */

.image-grid {
  margin-top: 2vmax;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 2vmax;
  width: 100%;
}

.image-grid img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

/* ---------------- GRAPHIC DESIGN CONTENT STYLING ---------------- */

.graphic-design-container {
  position: relative;
  margin-top: 2vmax;
}

.graphic-design-title-container {
  position: relative;
}

.graphic-design-title {
  font-size: 5vmin;
  text-decoration: underline;
}

.graphic-design-content-container {
  margin-top: 4vmax;
  display: flex;
  gap: 40px;
}

/* ---------------- PLAYLIST DESIGN CONTENT STYLING ---------------- */

.playlist-container {
  position: relative;
  margin-top: 2vmax;
}

.playlist-title-container {
  position: relative;
}

.playlist-title {
  text-decoration: underline;
  font-weight: 500;
  font-size: 5vmin;
}

.playlist-content-container {
  margin-top: 2vmax;
  display: flex;
  gap: 1vw;
  justify-content: space-evenly;
}

/* ---------------- PHOTOGRAPHY CONTENT STYLING ---------------- */

.photography-container {
  position: relative;
  margin-top: 2vmax;
}

.photography-title-container {
  position: relative;
}

.photography-title {
  text-decoration: underline;
  font-weight: 500;
  font-size: 5vmin;
}

.photography-content-container {
  margin-top: 2vmax;
  display: flex;
  gap: 40px;
}

/* ---------------- MODELING/STYLING CONTENT STYLING ---------------- */

.styling-container {
  position: relative;
  margin-top: 2vmax;
}

.styling-title-container {
  position: relative;
}

.styling-title {
  text-decoration: underline;
  font-weight: 500;
  font-size: 5vmin;
}

.styling-content-container {
  margin-top: 2vmax;
  display: flex;
  gap: 40px;
}

/* ---------------- SCROLL BAR ---------------- */

::-webkit-scrollbar {
  width: 4px; /* Width of the entire scrollbar */
  height: 4px; /* Height of the entire scrollbar (for horizontal scrollbar) */
}

::-webkit-scrollbar-track {
  background: #fa6509; /* Background of the scrollbar track */
  border-radius: 15px; /* Rounded corners of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #8c021b; /* Color of the scrollbar thumb */
  border-radius: 15px; /* Rounded corners of the scrollbar thumb */
}

/* ---------------- MEDIA QUERIES ---------------- */

@media (max-width: 640px) {
  .playlist-content-container {
    flex-direction: column;
  }

  .container-number {
    top: -3vw;
  }
}

@media (max-width: 460px) {
  .container-number {
    top: -4vw;
  }
}

@media (max-width: 300px) {
  .container-number {
    top: -5vw;
  }
}
