/* ---------------- STANDARD CONTENT PAGE STYLING ---------------- */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  cursor: url('/images/cursor.png'),auto;
  /* background-color: #fcff4b; */
}

/* ---------------- GRID STYLING ---------------- */

.grid-container {
  display: grid;
  grid-template-rows: repeat(4, 1fr); 
  height: 100%;
  overflow-x: hidden;
}

.grid-item {
  font-size: 6vmax;
  font-family: "forma-djr-deck", sans-serif;
  font-weight: 800;
  display: flex; 
  align-items: center; /*Vertically center the content*/ 
  justify-content:center;
  opacity: 0;
}

.about-row { 
  background-color: #FFFF33; 
}
.portfolio-row { 
  background-color: #FA6509; 
}
.cv-row { 
  background-color: #E27333; 
}
.contact-row { 
  background-color: #373E23; 
}

a { 
  text-decoration: none;
  padding-right: 20px;
}

.section-toggle-about {
  text-decoration: none;
  color: #1991C2;
  cursor: url('/images/cursor-filled.png'), pointer;
  transition: color 0.3s ease;
}

.section-toggle-portfolio {
  text-decoration: none; 
  color: #8C021B;
  cursor: url('/images/cursor-filled.png'), pointer;
  transition: color 0.3s ease;
}

.section-toggle-cv {
  text-decoration: none; 
  color: #BBD932;
  cursor: url('/images/cursor-filled.png'), pointer;
  transition: color 0.3s ease;
}

.section-toggle-contact {
  text-decoration: none; 
  color: #ffcae9;
  cursor: url('/images/cursor-filled.png'), pointer;
  transition: color 0.3s ease;
}

.section-toggle-about:hover,
.section-toggle-cv:hover,
.section-toggle-portfolio:hover,
.section-toggle-contact:hover {
  color: #3D348B;
}

@media (max-width: 720px) {
  .grid-item {
    font-size: 8.5vmax;
  }

  a { 
    padding: 0;
  }
}