/* ---------------- STANDARD CONTENT PAGE STYLING ---------------- */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  cursor: url('/images/cursor.png'),auto;
}

/* ---------------- GRID STYLING ---------------- */

.grid-container {
  display: grid;
  /* grid-template-rows: repeat(3, 1fr); Four rows of equal height */
  grid-template-rows: repeat(4, 1fr); 
  height: 100%;
}

.grid-item {
  font-size: 6vmax;
  font-family: "forma-djr-deck", sans-serif;
  font-weight: 800;
  display: flex; /*Use flexbox for better alignment control*/
  align-items: center; /*Vertically center the content*/ 
  justify-content:right;
  padding-right: 20px;
}

/* Example styles for each row */
.about-row { 
  background-color: #FFFF33; 
}
.portfolio-row { 
  background-color: #FA6509; 
}
.cv-row { 
  background-color: #E27333; 
}
.contact-row { 
  background-color: #373E23; 
}

a { 
  text-decoration: none;
}

.section-toggle-about {
  text-decoration: none; /* Remove underline */
  color: #1991C2;
  cursor: url('/images/cursor-filled.png'), pointer;
  transition: color 0.3s ease;
}

.section-toggle-portfolio {
  text-decoration: none; /* Remove underline */
  color: #8C021B;
  cursor: url('/images/cursor-filled.png'), pointer;
  transition: color 0.3s ease;
}

.section-toggle-cv {
  text-decoration: none; /* Remove underline */
  color: #BBD932;
  cursor: url('/images/cursor-filled.png'), pointer;
  transition: color 0.3s ease;
}

.section-toggle-contact {
  text-decoration: none; /* Remove underline */
  color: #ffcae9;
  cursor: url('/images/cursor-filled.png'), pointer;
  transition: color 0.3s ease;
}

.section-toggle-about:hover,
.section-toggle-cv:hover,
.section-toggle-portfolio:hover,
.section-toggle-contact:hover {
  color: #3D348B; /* Change text color to black on hover */
}

@media (max-width: 720px) {
  .grid-item {
    font-size: 9vmax;
    justify-content:center;
    padding: 0;
  }
}