/* ---------------- STANDARD CONTENT PAGE STYLING ---------------- */

html,
body {
  margin: 0;
  height: 100%;
  background-color: #E27333;
  cursor: url('/images/cursor.png'),auto;
}

.page-container {
  position: relative;
  font-family: "forma-djr-deck", sans-serif;
  font-weight: 500;
  color: #BBD932;
}

.text-container {
  position: relative;
  padding: 2vw;
}

a { 
  cursor: url('/images/cursor-filled.png'), pointer;
}

/* ---------------- TITLE STYLING ---------------- */

.title-container {
  padding: 2vw;
  display: flex; 
  justify-content: space-between;
  font-family: "forma-djr-deck", sans-serif;
  color: #BBD932;
  position: relative;
}

.title {
  font-size: 12vw;
  font-weight: 800;
  line-height: 1;
}

.back-arrow {
  align-self: flex-end; 
  color: #BBD932;
  font-size: 5vmin; 
}

.back-text {
  margin-left: 5px; 
  color: #BBD932;
  font-size: 5vmin; 
}

a { 
  color: #BBD932;
  cursor: url('/images/cursor-filled.png'), pointer;
}

/* ---------------- WORK CONTENT STYLING ---------------- */

.work-container {
}

.work-title {
  font-size: 3vmax;
  border-bottom: 4px solid;
}

.work-subheader {
  margin-top: 1vw;
  font-size: 3vmax;
  display: flex;
  justify-content: space-between;
}

.job-title {
  font-weight: 800;
}

.job-date {
  font-style: italic;
}

.work-text-content {
  font-weight: 500;
  font-size: 2vmax;
  margin-top: 2vmax;
}

/* ---------------- EDUCATION CONTENT STYLING ---------------- */

.education-container {
  margin-top: 4vmax;
}

.education-title {
  font-size: 3vmax;
  border-bottom: 4px solid;
}

.education-subheader {
  margin-top: 1vw;
  font-size: 3vmax;
  display: flex;
  justify-content: space-between;
}

.education-subheader-title {
  font-weight: 800;
}

.education-date {
  font-style: italic;
}

.education-text-content {
  font-weight: 500;
  font-size: 2vmax;
}

.computer-science {
  font-weight: 800;
}

.design {
  font-weight: 800;
}

/* ---------------- SKILLS CONTENT STYLING ---------------- */

.skills-container {
  margin-top: 4vmax;
}

.skills-title {
  font-size: 3vmax;
  border-bottom: 4px solid;
}

.skills-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
}

.grid-item {
  padding: 1.5vmax;
  text-align: center;
  font-size: 1.75vmax;
  font-weight: 500;
}

/* ---------------- RESUME CONTENT STYLING ---------------- */

.resume-container {
}

.resume-title {
  font-size: 3vmax;
  border-bottom: 4px solid;
}

.resume-container-2 { 
  margin-top: 1vw;
}

.resume-download {
  font-size: 1.75vmax;
  font-weight: 800;
  text-decoration: none;
  color: #BBD932;
}

/* ---------------- SCROLL BAR ---------------- */

::-webkit-scrollbar {
  width: 4px;             /* Width of the entire scrollbar */
  height: 4px;            /* Height of the entire scrollbar (for horizontal scrollbar) */
}

::-webkit-scrollbar-track {
  background: #E27333;     /* Background of the scrollbar track */
  border-radius: 15px;     /* Rounded corners of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #BBD932;        /* Color of the scrollbar thumb */
  border-radius: 15px;     /* Rounded corners of the scrollbar thumb */
}

/* ---------------- Media SIZING  ---------------- */

@media (max-width: 420px) {
  .work-title, 
  .work-subheader,
  .education-title, 
  .education-subheader, 
  .skills-title, 
  .resume-title
  {
    font-size: 2.5vmax;
  }
}