/* ---------------- STANDARD CONTENT PAGE STYLING ---------------- */

html,
body {
  margin: 0;
  height: 100%;
  background-color: #bbd932;
  cursor: url("/images/cursor.png"), auto;
}

.page-container {
  position: relative;
  font-family: "forma-djr-deck", sans-serif;
  font-weight: 500;
  color: #e27333;
}

.text-container {
  position: relative;
  padding: 2vw;
}

a {
  cursor: url("/images/cursor-filled.png"), pointer;
}

/* ---------------- TITLE STYLING ---------------- */

.title-container {
  padding: 2vw;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  justify-content: space-between;
  font-family: "forma-djr-deck", sans-serif;
  color: #e27333;
  position: relative;
}

.title {
  font-size: 8vw;
  font-weight: 800;
  line-height: 1;
}

.back-arrow {
  align-self: flex-end;
  color: #e27333;
  font-size: 5vmin;
}

.back-text {
  margin-left: 5px;
  color: #e27333;
  font-size: 5vmin;
}

a {
  color: #e27333;
  cursor: url("/images/cursor-filled.png"), pointer;
}

/* ---------------- RESUME CONTENT STYLING ---------------- */

.resume-title {
  font-size: 3vmax;
  font-weight: 800;
}

.resume-container {
  margin: 40px;
}

.resume-container-2 {
  margin-top: 5px;
}

.resume-download {
  font-size: 1.75vmax;
  font-style: italic;
  color: #e27333;
  text-decoration: none;
}

.resume-download:hover {
  color: black;
  text-decoration: underline;
}

/* ---------------- SKILLS CONTENT STYLING ---------------- */

.skills-container {
  margin: 40px;
}

.skills-title {
  font-size: 3vmax;
  border-bottom: 2px solid;
}

.skills-content-container {
  margin-top: 5px;
  font-size: 1.75vmax;
}

/* ---------------- WORK CONTENT STYLING ---------------- */

.work-container {
  margin: 40px;
}

.work-title {
  font-size: 3vmax;
  border-bottom: 2px solid;
}

.work-subheader {
  margin-top: 5px;
  font-size: 3vmax;
  display: flex;
  justify-content: space-between;
}

.job-title {
  font-weight: 800;
}

.job-date {
  font-style: italic;
}

.work-text-content {
  margin-top: 5px;
  font-weight: 500;
  font-size: 2vmax;
}

/* ---------------- EDUCATION CONTENT STYLING ---------------- */

.education-container {
  margin: 40px;
}

.education-title {
  font-size: 3vmax;
  border-bottom: 2px solid;
}

.education-subheader {
  margin-top: 5px;
  font-size: 3vmax;
  display: flex;
  justify-content: space-between;
}

.education-subheader-title {
  font-weight: 800;
}

.education-date {
  font-style: italic;
}

.education-text-content {
  font-weight: 500;
  font-size: 2vmax;
}

.computer-science {
  font-weight: 800;
}

.design {
  font-weight: 800;
}

/* ---------------- SCROLL BAR ---------------- */

::-webkit-scrollbar {
  width: 4px; /* Width of the entire scrollbar */
  height: 4px; /* Height of the entire scrollbar (for horizontal scrollbar) */
}

::-webkit-scrollbar-track {
  background: #bbd932; /* Background of the scrollbar track */
  border-radius: 15px; /* Rounded corners of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #e27333; /* Color of the scrollbar thumb */
  border-radius: 15px; /* Rounded corners of the scrollbar thumb */
}

/* ---------------- Media SIZING  ---------------- */

@media (max-width: 420px) {
  .work-title,
  .work-subheader,
  .education-title,
  .education-subheader,
  .skills-title,
  .resume-title {
    font-size: 2.5vmax;
  }
}
