/* ---------------- STANDARD CONTENT PAGE STYLING ---------------- */

html,
body {
  margin: 0;
  height: 100%;
  background-color: #FFFF33;
  cursor: url("/images/cursor.png"), auto;
}

.page-container {
  position: relative;
  font-family: "forma-djr-deck", sans-serif;
  font-weight: 500;
  color: #1991C2;
}

/* ---------------- TITLE STYLING ---------------- */

.title-container {
  padding: 2vw;
  display: flex; 
  justify-content: space-between;
  font-family: "forma-djr-deck", sans-serif;
  position: relative;
}

.title {
  font-size: 12vw;
  font-weight: 800;
  line-height: 1;
}

.back-arrow {
  align-self: flex-end; 
  color: #1991C2;
  font-size: 5vmin; 
}

.back-text {
  margin-left: 5px; 
  color: #1991C2;
  font-size: 5vmin; 
}

a {
  font-weight: 500;
  cursor: url("/images/cursor-filled.png"), pointer;
}

/* ---------------- TEXT CONTENT STYLING ---------------- */

.text-container {
  position: relative;
  font-size: 3vmax;
  padding: 2vw;
}

.name {
  font-weight: 800;
}

.software-developer {
  font-weight: 800;
}

.design {
  font-weight: 800;
}

.studio-hamish {
  font-weight: 800;
  cursor: url("/images/cursor-filled.png"), pointer;
  transition: color 0.3s ease;
  color: #1991C2;
}

.studio-hamish:hover {
  color: #3D348B; 
}

.video-container{ 
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 1.5vmax;
}

.diditmyself { 
  width: 240px;
  border: solid 2px #1991C2;
  border-radius: 8px;
}

.video-text {
  margin-top: 1vw;
}

/* ---------------- LOCATION STYLING ---------------- */

.location-text-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.location-subheader {
  font-weight: 800;
  margin-left: 1vw;
}

/* ---------------- SCROLL BAR ---------------- */

::-webkit-scrollbar {
  width: 4px; /* Width of the entire scrollbar */
  height: 4px; /* Height of the entire scrollbar (for horizontal scrollbar) */
}

::-webkit-scrollbar-track {
  background: #FFFF33; /* Background of the scrollbar track */
  border-radius: 15px; /* Rounded corners of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #1991C2; /* Color of the scrollbar thumb */
  border-radius: 15px; /* Rounded corners of the scrollbar thumb */
}

/* MEDIA QUERIES */

@media (max-width: 520px) {
  .text-container {
    font-size: 3.5vmax;
  }

  .video-container{ 
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 2vmax;
    flex-wrap: wrap;
    align-content: center;
  }

  .diditmyself { 
    width: 200px;
  }
}